{% extends 'main/base.html' %}

{% block content %}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>Удалить сообщение {{ object.letter_subject }}?</p>
                    <button type="submit" class="btn btn-outline-danger">
                        Удалить
                    </button>
                    <a href="{% url 'mail_send:email_message_detail' object.pk %}" type="button" class="btn btn-success rounded-pill px-3">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}