{% extends 'main/base.html' %}

{% block content %}

<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ object.message }}</h3>
                </div>
                <div class="card-body">
                    <h2>{{ object.last_datetime }}</h2>
                    <p>Статус доставки: {{ object.status }}</p>
                    <p>{{ object.log_message }}</p>
                    <p>№ {{ object.pk }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}