{% extends 'main/base.html' %}

{% block content %}

<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ object.mailing_time }}</h3>
                </div>
                <div class="card-body">
                    <h2>{{ object.periodicity }}</h2>
                    <p>{{ object.mailing_status }}</p>
                    <p>№ {{ object.pk }}</p>
                    <a href="{% url 'mail_send:mailing_setup_update' object.pk %}" type="button" class="btn btn-success rounded-pill px-3">Редактировать</a>
                    <a href="{% url 'mail_send:mailing_setup_delete' object.pk %}" type="button" class="btn btn-danger rounded-pill px-3">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}