  <div class="list-group">
    <a href="{% url 'mail_send:mailing_setup_detail' object.pk %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://cdn.icon-icons.com/icons2/3982/PNG/512/alert_stopwatch_time_hour_timer_alarm_clock_icon_252100.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">{{ object.mailing_time }}</h6>
          <p class="mb-0 opacity-75">Повтор: {{ object.periodicity }} | Статус: {{ object.mailing_status }}</p>
        </div>
      </div>
    </a>
  </div>
